:root{
    --blanche: #ffff;
    --brow:#rgb(237, 147, 1);
    --noire: #222;
    --brown:#89260d;
    --red:#ff0000;
    --gris:#635e5e;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--noire);
    padding:1rem;
    margin:2rem 0;
    background:var(--blanche) ;
}

.heading span{
    color:var(--brown);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:var(--blanche);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    filter: drop-shadow(2px 2px 2px black);
}

.btn:hover{
    background:var(--brown);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#89260d;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    max-height: 90px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
width: 100px ;
height: 100px;
}


header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:var(--blanche);
    margin-left: 20px;
}

header .navbar a:hover{
    color:var(--brow);
}

header .icons a{
    font-size: 2.5rem;
    color:var(--blanche);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--red);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.Acceuil{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.vid-b{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.Acceuil .content{
    max-width: 50rem;
}

.Acceuil .content h3{
    font-size: 6rem;
    color:rgb(0, 0, 0);
}

.Acceuil .content span{
    font-size: 3.5rem;
    color:var(--brown);
    padding:1rem 0;
    line-height: 1.5;
}

.Acceuil .content p{
    font-size: 1.5rem;
    color:var(--blanche);
    padding:1rem 0;
    line-height: 1.5;
}

.icons-container{
    background:var(--blanche);
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:var(--blanche);
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:var(--gris);
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:var(--gris);
    font-size: 1.3rem;
}


.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.Contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: var(--blanche);
    border-radius: .5rem;
}

.Contact .row .image{
    flex:1 1 40rem;
}

.Contact .row .image img{
    width: 100%;
}

.Contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:var(--gris);
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.Contact .row form .box:focus{
    border-color: var(--brown);
}

.Contact .row form textarea{
    height: 15rem;
    resize: none;
}

/*@media only screen and(max-width: 768px){
    .navigation{
        padding: 10px 0;
    }

    .menu{
        padding: fixed;
        top: 0;
        left: -100;
        background-color: var(--blanche);
        height: 100%;
        max-width: 450px;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
        transition: all ease-in-out;
        z-index: 100;
    }

    .icons1{
        display: none;
    }

    .icons{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .logo span{
        color: var(--primaire);
    }
modifier la taille du logo
    .logo a{
        font-size: 16px;
        font-weight: 400;
    }

    .menu.top{
        display: block;
    }

}*/