:root{
    --blanche: #ffff;
    --noire: #222;
    --primaire: #3790c4;
    --gris: #888;

}

::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 65%;
}

body{
    font-family: 'Arial';
    font-size: 15.5px;
    color: var(--noire);
    background-color: var(--blanche);
}

ul , li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.promo{
    background-color: var(--primaire);
    text-align: center;
    color: var(--blanche);
    padding: 5px 0;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}

.navigation{
    height: 7rem;
    justify-content: space-between;
}

.d-flex{
    display: flex;
    align-items: center;
}

.icons1{
    display: none;
}

.menu .top{
    display: none;
}

.logo{
    font-weight: 700;
    font-size: 20px;
    padding: 0px 15px;
}

.logo span{
    font-size: 30;
    color: var(--primaire);
}

.nav-item:not(:last-child){
    margin: 5px
}

.nav-item:first-child .nav-link{
    color: var(--primaire);
}

.nav-link{
    padding: 0 10px;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: var(--primaire);
}

.nav .icons div{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav .icons div .nav-item:not(:last-child){
    margin-right: 5px;
}

.nav .icons div:hover{
    color: var(--primaire);
}
 
.nav .icons div:last-child{
    position: relative;
}

.nav .icons div span{
    position: absolute;
    top: -5px;
    right: -12px;
    font-size: 10px;
    font-weight: 600;
    color: var(--blanche);
    background-color: var(--primaire);
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.align-center{
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and(max-width: 768px){
    .navigation{
        padding: 10px 0;
    }

    .menu{
        padding: fixed;
        top: 0;
        left: -100;
        background-color: var(--blanche);
        height: 100%;
        max-width: 450px;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
        transition: all ease-in-out;
        z-index: 100;
    }

    .icons1{
        display: none;
    }

    .icons{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .logo span{
        color: var(--primaire);
    }
/*/modifier la taille du logo
    .logo a{
        font-size: 16px;
        font-weight: 400;
    }
*/
    .menu.top{
        display: block;
    }

}