body {
    font-family: 'Roboto', sans-serif;
	background-color: #dddddd;
}

/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
*/

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 4,8 ;
}

li{
    font-size: 2rem;
}

a{
    color: #fff;
    text-decoration: none;
}

/* header*/

.main-head{
    background-color: rgb(87, 31, 31);
    color: #fff;

}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

nav ul{
    display: flex;
    flex: 5 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link{
    margin-right: 20px;
}

.nav-link:hover{
    color: brown
}

#logo{
    flex: 1 1 40rem;
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.icons:first-child.nav-link{
    margin-right: 10px;
}

 /* Style pour les icônes */
  .fas {
    color: #fff; 
    margin-right: 20px;  
    font-size: 20px;
  }

  .fas:hover{
    color: brown;
  }