:root{
    --blanche: #ffff;
    --brow:#rgb(237, 147, 1);
    --noire: #222;
    --brown:#89260d;
    --red:#ff0000;
    --gris:#635e5e;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    filter: drop-shadow(2px 2px 2px black);
}

.btn:hover{
    background:var(--brown);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#89260d;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    max-height: 90px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
width: 100px ;
height: 100px;
}


header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:var(--blanche);
    margin-left: 20px;
}

header .navbar a:hover{
    color:var(--brow);
}

header .icons a{
    font-size: 2.5rem;
    color:var(--blanche);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--red);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.Acceuil{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

@keyframes moveImage {
    0% {
       transform: translateX(0);
    }
    50% {
       transform: translateY(25px);
    }
    100% {
       transform: translateX(0)
    }
}

.content {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    animation: moveImage 5s linear infinite;
}

.content h3{
    font-size: 5rem;
    color:rgb(0, 0, 0);
    z-index: 1;

}

.content span{
    font-size: 3rem;
    color:var(--brown);
    padding:1rem 0;
    line-height: 1.5;
    z-index: 1;

}

.content p{
    word-wrap: break-word;
    font-size: 15px;
    color:var(--blanche);
    justify-content: flex-end;
    line-height: 1.5;
    z-index: 1;
}

.icons-container{
    background:var(--blanche);
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:var(--blanche);
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:var(--gris);
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:var(--gris);
    font-size: 1.3rem;
}
.icons {
    display: flex;
    justify-content: flex-start;
}



@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:rgb(255, 144, 85);
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .Acceuil .content h3{
        font-size: 5rem;
    }

    .Acceuil .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    .roww .column .card{
      display: block;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}
.roww {
    display: flex;
    
    text-align: center;
    padding:1rem;
    margin:2rem 0;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    padding:1rem;
    margin:2rem 0;
    color: #1f003b;
    background:#ffdad1 ;
  }
  h1 span{
    color: #89260d;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 12em;
    height: 12em;
    background-color: #ffe1a5;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 20%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#ea6c45, #f8ce8b);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }



/*@media only screen and(max-width: 768px){
    .navigation{
        padding: 10px 0;
    }

    .menu{
        padding: fixed;
        top: 0;
        left: -100;
        background-color: var(--blanche);
        height: 100%;
        max-width: 450px;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
        transition: all ease-in-out;
        z-index: 100;
    }

    .icons1{
        display: none;
    }

    .icons{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .logo span{
        color: var(--primaire);
    }
modifier la taille du logo
    .logo a{
        font-size: 16px;
        font-weight: 400;
    }

    .menu.top{
        display: block;
    }

}*/